<div class="container error-container">
    <h1 class="display-4">404</h1>
    <p class="lead">¡Ups! La página que buscas no se encuentra.</p>
    <p>Regresa al <a asp-controller="Home" asp-action="Index" >inicio</a> o intenta buscar algo diferente.</p>
</div>