@{
    ViewData["Title"] = "Home Page";
}

<h1>Bienvenido a TASKMASTER</h1>
<section>
    <p>
        TASKMASTER es una plataforma de gestión de tareas diseñada para ayudarte a organizar y administrar tus proyectos
        de manera eficiente. Ya sea que estés trabajando en proyectos personales, en equipo o en el ámbito profesional,
        TASKMASTER te brinda las herramientas necesarias para mantener tus tareas bajo control y alcanzar tus objetivos
        de manera más efectiva.
    </p>

    <img src="https://www.tormetal.com/wp-content/uploads/2017/03/2017-03-TMT-Web-Blog-Article-11-Historia-del-KANBAN.jpg" alt="Letras Kanban">

    <h2>Funcionalidades principales:</h2>
    <ul>
        <li>
            <strong>Creación de tableros personalizados:</strong> Crea tableros para organizar tus tareas de acuerdo a
            tus proyectos o áreas de interés.
        </li>
        <li>
            <strong>Gestión de tareas ágil:</strong> Agrega, edita y elimina tareas de manera rápida y sencilla.
        </li>
        <li>
            <strong>Colaboración en equipo:</strong> Invita a colaboradores a tus tableros para trabajar juntos en
            proyectos compartidos.
        </li>
        <li>
            <strong>Seguimiento visual:</strong> Utiliza el sistema Kanban para visualizar el progreso de tus tareas de
            un vistazo y optimizar tu flujo de trabajo.
        </li>
    </ul>
    <p>
        No importa si eres un estudiante, un profesional independiente o un equipo de trabajo, TASKMASTER está aquí para
        ayudarte a llevar tus proyectos al siguiente nivel. ¡Regístrate ahora y comienza a organizar tus tareas como un
        profesional!
    </p>
</section>