html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: whitesmoke;
}

.navbar {
  background-color: #100e0f !important;
}

.footer {
  color: white !important;
  background-color: #100e0f;
}

.preguntaRegistro {
  padding-right: 14px;
}

.registro {
  padding-left: 0px;
  color: #108ccc;
}

.recuperarContra {
  color: #108ccc;
  padding-left: 0px;
  padding-top: 0px;
}

.iniciarSesion {
  color: white;
  background-color: #108ccc;
}

main {
  min-height: 80vh;
}

.tituloTableroEnlace {
  color: #108ccc;
}

.color-preview {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tituloEstado {
  margin-top: 32px;
}