@model List<Usuario>

<section>
    <article>
        <h2>Lista Usuario</h2>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th hidden>ID</th>
                    <th>Nombre</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td hidden>@usuario.Id</td>
                        <td>@usuario.NombreDeUsuario</td>
                        <td>
                            <a asp-controller="Usuario" asp-action="ModificarUsuario"
                                asp-route-idUsuario="@usuario.Id">Modificar</a>
                        </td>
                        <td>
                            <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id"
                                onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </article>
</section>